---
import { ComponentCtaModel } from "../models";

interface Props {
    data: ComponentCtaModel
}
const {url, text} = Astro.props.data.elements

---

<a href={url.value}>{text.value}</a>

<style lang="sass">
a
    color: #333
    padding: 10px
    margin: 10px
    display: inline-block
    border: 1px solid #333
    text-decoration: none
    transition: all .2s

    &:hover
        color: #fff
        background: #000

</style>