---
---

<script>
    window.setTimeout(() => window.location.reload(), 30000);
</script>


<div class="container">
    <h1>Flight updates</h1>
    <hr />
    <p>This table shows latest flight data.</p>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Ident</th>
            <th>Aircraft</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Departure</th>
            <th>Estimated arrival</th>
            <th>Note</th>
        </tr>
        <tr>
            <td>FR7301</td>    
            <td>OK-API</td>
            <td>London Stansted</td>
            <td>Paris CDG</td>
            <td>10/05/2023 17:35</td>
            <td>10/05/2023 18:55</td>
            <td class="green">Proceed to boarding gate B15</td>
        </tr>
    </table>
</div>

<style lang="sass" is:global>
    table
        text-align: left
        width: 100%
        color: #444

    tr:nth-child(odd)
        background: #ddd

    td, th
        padding: 10px

    .green
        background: lightgreen
    
    .yellow
        background: yellow
    
    .grey
        background: #ccc
</style>

<style lang="sass">
    h1
        text-align: left
        font-size: 3rem
        text-transform: none
        margin-left: 0

    p
        color: #6b6b6b
        text-align: left
        font-family: 'Roboto', sans-serif

</style>
