---

---

<nav>
    <a href="/">Home</a>
    <a href="/flight-updates">Flight updates</a>
    <a href="/contact">Contact</a>
</nav>

<style lang="sass" is:global>
nav
    font-family: 'Roboto Condensed'
    font-size: 1rem
    font-weight: 700
    
    a
        padding: 0 1rem
        text-decoration: none
        color: #eee

        &:hover
            text-decoration: underline
</style>